# Vivado 工程生成目录
*.runs/
*.cache/
*.ip_user_files/
*.sim/
*.hw/
*.jou
*.log
*.str
*.webtalk
*.xpr

# 仿真临时文件
*.vcd
*.fsdb
*.vvp
icarus/

# 操作系统
.DS_Store
Thumbs.db

# 排除整个 ip 目录（包括所有子文件）
**/ip/


#忽略vscode配置文件
.vscode/